# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
__debug_bin
.devcontainer/docker-compose.yml
.devcontainer/library-scripts/docker-debian.sh
.devcontainer/library-scripts/common-debian.sh
